<li class="<%= tweet_class(h(tweet.from_user)) %>">
  <div class="info">
    <div class="grid_2 alpha">
      <%= image_tag tweet.profile_image_url, :size => "48x48" %>
    </div>
    <div class="grid_8 omega">
      <%= link_to h(tweet.from_user), twitter_user_url(h(tweet.from_user)), 
                                          :class => "user" %>
      <div class="meta">
        <span class="created_at"> 
          <abbr class="timeago" title="<%= tweet.status_created_at.getutc.iso8601 %>">
            <%= tweet.status_created_at %>
          </abbr>
        </span>
        <span class="client">from <%= CGI.unescapeHTML tweet.source %></span>
      </div>
      
      <% if tweet.to_user.present? -%>
        <div class="response">
          in response to <%= link_to h(tweet.to_user), twitter_user_url(h(tweet.to_user)) %> 
        </div>
      <% end -%>

    </div>
    <div class="clear"></div>
  </div>
      
  <div class="text"><%= auto_link(URI.unescape(tweet.text)) %></div>
  
  <div class="actions">
    <%= link_to "Original", twitter_status_url(h(tweet.from_user), h(tweet.status_id)) %>
    <%= link_to "Reply", twitter_reply_url(h(tweet.from_user), h(tweet.status_id)) %>
    <%= link_to "ReTweet", twitter_retweet_url(h(tweet.from_user), tweet.text) %>
  </div>
</li>
