<p id="about">
  <%= @tweets_count %> Tweets about <span class="pre">"#swineflu OR 'swine flu' OR h1n1"</span>
</p>

<%= will_paginate @tweets %>

<ul id="tweets_list">
  <% @tweets.each do |tweet|-%>
    <li>
      <div class="info">
        <div class="grid_2 alpha">
          <%= image_tag tweet.profile_image_url, :size => "48x48" %>
        </div>
        <div class="grid_8 omega">
          <%= link_to h(tweet.from_user), "http://twitter.com/#{h(tweet.from_user)}", 
                                          :class => "user" %>
          <div class="meta">
            <span class="created_at"> 
              at <abbr class="timeago" title="<%= tweet.status_created_at.getutc.iso8601 %>">
                   <%= tweet.status_created_at %>
                 </abbr>
            </span>
            <span class="client">from <%= CGI.unescapeHTML tweet.source %></span>
          </div>

          <% if tweet.to_user.present? -%>
            <div class="response">
              in response to <%= link_to h(tweet.to_user), "http://twitter.com/#{h(tweet.to_user)}" %> 
            </div>
          <% end -%>

        </div>
        <div class="clear"></div>
      </div>
      
      <div class="text"><%= auto_link(URI.unescape(tweet.text)) %></div>

      <div class="actions">
        <%= link_to "Original", 
                    "http://twitter.com/#{h(tweet.from_user)}/statuses/#{h(tweet.status_id)}"%>
        <%= link_to "Reply", "http://twitter.com/home?status=@#{h(tweet.from_user)} &in_reply_to_status_id=#{h(tweet.status_id)}&in_reply_to=#{h(tweet.from_user)}" %>
        <%= link_to "ReTweet", "http://twitter.com/home?status=RT @#{h(tweet.from_user)} #{tweet.text}" %>
      </div>
    </li>
  <% end -%>
</ul>

<%= will_paginate @tweets %>
