<p id="about">
  <%= @tweets_count %> Tweets about <span class="pre">"#swineflu OR 'swine flu' OR h1n1"</span>
</p>

<%= will_paginate @tweets %>

<ul id="tweets_list">
  <%= render :partial => "tweets", :locals => {:tweets => @tweets} %>
</ul>

<%= will_paginate @tweets %>

<%= pageless(@tweets.total_pages, tweets_path) %>
